<% content_for :custom_js do %>
  <%= javascript_include_tag "collections/dashboard", "data-turbolinks-track" => true %>
<% end %>

<div class="text-center">
  <button type="button" class="btn btn-primary btn-lg" id="btn_add_stickers">Adicionar figurinhas</button>
</div>

<div id="div_dupes">
	<h1>Meus refugos (<span id="dupes_count"><%=@dupes.sum(:qty)%></span>):</h1>
	
	<div id="dupe_refresh_spinner" class="sticker_refresh_spinner" style="display:none;">
		<div class="spinner"></div>
		Atualizando refugos...
	</div>
	
	<div id="div_dupes_stickers_container" class="stickers_container">	
	<% @dupes.each do |s| %>
		<div class="sticker_placeholder" data-number="<%=s.sticker.number%>">
			<div class="sticker_image_placeholder">
				<button class="btn btn-sm btn-danger btn_delete_sticker" data-number="<%=s.sticker.number%>" data-type="dupes">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
				<img class="sticker_image" src="<%= ENV['STICKERS_IMAGES_PREFIX'] %><%= s.sticker.image %>" width="100" height="131">
				<% if s.qty > 1 %>
				<span class="badge sticker_dupe_count"><%= s.qty %></span>
				<% end %>
			</div>
			<div style="text-align: center;">
				<label class="sticker_number"><%= s.sticker.number %></label>
			</div>
		</div>
	<% end %>
	</div>
</div>

<div id="sticker_placeholder_template" style="display:none;">
	<div class="sticker_image_placeholder">
		<button class="btn btn-sm btn-danger btn_delete_sticker">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
		<img class="sticker_image" src="" width="100" height="131">
		<span class="badge sticker_dupe_count"></span>
	</div>
	<div style="text-align: center;">
		<label class="sticker_number"></label>
	</div>
</div>

<div id="div_missing">
	<h1>Faltam para completar o álbum (<span id="missing_count"><%=@missing.size%></span>):</h1>
	
	<div id="missing_refresh_spinner" class="sticker_refresh_spinner" style="display:none;">
		<div class="spinner"></div>
		Atualizando faltantes...
	</div>
	
	<div id="div_missing_stickers_container" class="stickers_container">
	<% @missing.each do |s| %>
		<div class="sticker_placeholder" data-number="<%=s.sticker.number%>">
			<div class="sticker_image_placeholder">
				<button class="btn btn-sm btn-danger btn_delete_sticker" data-number="<%=s.sticker.number%>" data-type="missing">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
				<img class="sticker_image" src="<%= ENV['STICKERS_IMAGES_PREFIX'] %><%=s.sticker.image%>" width="100" height="131">
			</div>
			<div style="text-align: center;">
				<label class="sticker_number"><%= s.sticker.number %></label>
			</div>
		</div>
	<% end %>		
	</div>
</div>

<div id="div_stats">
	<h1>Estatísticas</h1>
	
	<div id="stats_refresh_spinner" class="sticker_refresh_spinner" style="display:none;">
		<div class="spinner"></div>
		Atualizando estatísticas...
	</div>
	
	<div id="div_stats_container">
		<p>Se você não esqueceu de colocar nada aí em cima, você já deve ter colado <strong><span id="total_stickers_collected"><%= @stats['collected'] %></span></strong> figurinhas!</p>
	
		<h5>Relação das faltantes</h5>
		<ul>
			<% @stats['teams'].keys.each do |s| %>	
			<li id="li_stats_<%= s %>">
				<strong> <%= s %>: </strong>
				<% if @stats['teams'][s] == 0 %>
					<span class="stat_value" style="color:green;"><strong>Completo!</strong></span>
				<% elsif @stats['teams'][s] == 1 %>
					<span class="stat_value">Só falta <strong>1</strong> figurinha!!</span>
				<% else %>
					<span class="stat_value">Faltam <strong><%= @stats['teams'][s] %></strong> figurinhas.</span>
				<% end %>
			</li>
			<% end %>
		</ul>
	</div>
</div>

<div id="modal_add_stickers" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Adicionar figurinhas</h4>
      </div>
      
      <div class="modal-body">
        Digite na caixa de texto abaixo os números das figurinhas (separados por vírgulas, espaços ou hífens) e clique no botão correspondente para adicioná-las. <br/>
        <p/><br/>	
        
        <div>
    			<textarea rows="6" class="form-control input-lg" id="textarea_sticker_numbers" style="resize:none;" placeholder="Ex.: 1, 2, 3, 31, 4, L1"></textarea>
    		</div>
    		
    		<br/>	<br/> <!-- HUE HUE HUE -->
    		<div class="text-center">   		
    			<button id="btn_add_dupes" class="btn btn-lg btn-success">Adicionar aos meus refugos!</button> ou
        	<button id="btn_add_missing" class="btn btn-lg btn-warning">Adicionar na lista de faltantes!</button>
        </div>
    		
    		<br/>
    	</div>
      
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>



<input type="hidden" id="hdn" value="<%= @stickers_json %>"/>