<h1>Listing articles</h1>
 
<table class="table">
  <tr>
    <th>Number</th>
    <th>Image</th>
    <th>Name</th>
    <th>Team</th>
    <th>Contagem</th>
  </tr>
 
  <% @stickers.each do |s| %>
    <tr>
      <td><%= s.number %></td>
      <td><img src="<%= ENV['STICKERS_IMAGES_PREFIX'] %><%=s.image%>" width="100" height="131"></td>
      <td><%= s.name %></td>
      <td><%= s.team %></td>
      <td><%= s.order %></td>
    </tr>
  <% end %>
</table>