<!DOCTYPE html>
<html>
<head>
  <title>TrocaCopa</title>
  <script type="text/javascript">
		var fbAppId = '<%= ENV['FB_APP_ID'] %>';
		var images_prefix = '<%= ENV['STICKERS_IMAGES_PREFIX'] %>';
		<% if current_user %>
			var user_uid = '<%= current_user.uid %>';
		<% end %>
	</script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <% if content_for?(:custom_js) %>
    <%= yield(:custom_js) %>
  <% end %>
</head>
<body>

<% if current_user %>
<div id="home-button" class="text-left">
	<%= link_to "Home", controller: "collections", action: "dashboard" %>
</div>
<% end %>

<div id="user-widget" class="text-right">
	<% if current_user %>
    Bem-vindo <strong><%= current_user.name %></strong>!
    <%= link_to "Sair", signout_path, id: "sign_out" %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
