<!DOCTYPE html>
<html>
<head>
  <title>TrocaCopa</title>
  <script type="text/javascript">
		var fbAppId = '<%= ENV['FB_APP_ID'] %>';
		var images_prefix = '<%= ENV['STICKERS_IMAGES_PREFIX'] %>';
	</script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <% if content_for?(:custom_js) %>
    <%= yield(:custom_js) %>
  <% end %>
</head>
<body>

<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
