<!DOCTYPE html>
<html>
<head>
  <title>TrocaCopa</title>
  <script type="text/javascript">
		var fbAppId = '<%= ENV['FB_APP_ID'] %>';
		var images_prefix = '<%= ENV['STICKERS_IMAGES_PREFIX'] %>';
		<% if current_user %>
			var user_uid = '<%= current_user.uid %>';
		<% end %>
	</script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <% if content_for?(:custom_js) %>
    <%= yield(:custom_js) %>
  <% end %>
</head>

<body>
<% if current_user %>

	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">TrocaCopa</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><%= link_to "Home", controller: "collections", action: "dashboard" %></li>
					<li class="dropdown">
						<i id="fav_list_spinner" class='fa fa-spinner fa-spin' style="display:none;"></i>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Favoritos <b class="caret"></b></a>
						<ul id="fav_list" class="dropdown-menu">
							<% if current_user.favorites.empty? %>
								<li>
									<span class="navbar-text">Você não tem favoritos!</span>
								</li>
							<% else %>
								<% current_user.favorites.each do |fav| %>
									<li>
										<a href="<%= compare_url(uid: fav.favorite.uid)%>"><%= image_tag(profile_pic('small'))	%>   <%= fav.favorite.name %></a>
									</li>
								<% end %>
							<% end %>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<p class="navbar-text navbar-right">
							Bem-vindo, <strong><%= current_user.name %></strong>!	
							<%= link_to "Sair", signout_path, id: "sign_out", :class=> "navbar-link" %>
						</p>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
<% end %>

<%= yield %>

</body>
</html>
